<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>瘋資股 - 關於我</title>
    <link rel="stylesheet" href="/css/about.css">
    <!-- <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/article.css">
    <link rel="stylesheet" href="css/login.css">
     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> -->
  <!-- email function -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;400;800&display=swap" rel="stylesheet"> 
  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init("X79etm-Y3DOj0EUrU");
   })();
</script>
</head>

<body>
    <%- include('login.ejs') %>
    <!-- 遮罩div -->
    <!-- 標題主選單 -->
    <!-- 登入註冊彈出視窗 -->
                <!-- 註冊畫面 -->
                <!-- 登入畫面 -->      
    <!-- 內容 -->

    <!-- 加入自選股 -->


 

    <br><br>


    <div class="content">

        <div class="text-box">
            <a class="links forus" ><span>創立理念</span></a>
            <p>我們的投資網站旨在為投資者提供全面的金融資訊和專業建議，
                幫助他們做出明智的投資決策。我們致力於提供即時的市場數據、
                分析工具以及教育資源，讓投資者更好地了解市場趨勢，
                實現財務成功。我們的使命是讓每個人都能參與並受益於投資世界，
                無論是新手還是有經驗的投資者。</p>
        </div>

    </div>

<br><br><br><br>

    <!-- 團隊成員 -->
    <section class="course">
        <a class="links forus" ><span>團隊成員</span></a>
       
<br>
        <!-- 第一位成員 -->

        <div class="row">


            <div class="c_box course-col">

                <div class="c_circle">
                    <div class="c_img"><img src="/images/about/S__1180360709.jpg" ></div>
                </div>


                <div class="atext">Lynn Chen<br>
                    首席執行官（CEO）<br>擁有多年的金融投資經驗，為投資者提供最佳的資產配置
                    建議。</div>






            </div>


          

            <!-- 第二位成員 -->
            <br> <br> <br> <br> <br> <br> 
            <div class="c_box1 course-col">
                <div class="c_circle1">
                    <div class="c_img1"><img src="/images/about/06F1386F-8462-489C-AEC2-3E7E8EBB704B.jpg" alt=""></div>
                </div>

                <div class="atext1">Emily Chen<br>
                    首席投資顧問（CIO）<br>市場策略和投資分析方面有深厚的知識，提供有價值的市場見解。</div>




            </div>
            <br>



            <!-- 第三位成員 -->
            <div class="c_box2 course-col">
                <div class="c_circle2">
                    <div class="c_img"><img src="/images/about/373476.jpg"></div>
                </div>

                <div class="atext1">Michael Johnson<br>
                    資深市場策略師<br>確保我們的客戶的資金在不同市場狀況下都得到適當管理。</div>


            </div>
            <br>

            
    <div class="c_box2 course-col" >
   
        <div class="c_circle">
            <div class="c_img"><img src="/images/about/擷取.JPG"></div>
        </div>
        
        <div class="course-col1">
        <div class="atext">Kenny Smith<br>
            資金管理師<br>致力於確保我們的客戶的資金在不同市場狀況下都得到適當管理。</div>

       
        </div>



</div>




            <br>

            <!-- 第四位成員 -->

            <div class="c_box2 course-col">

                <div class="c_circle">
                    <div class="c_img1"><img src="/images/about/S__20873222.jpg"></div>
                </div>


                <div class="atext">Allison Lee<br>
                    技術創新專家<br>有廣泛的科技和創新背景，助客戶在快速變化的環境取得成功的投資</div>


            </div>



        </div>








        </div>



        <br><br><br><br><br><br>

        <section class="campus">
            <a class="links forus" ><span>全球分布</span></a>
            <p>主要分布在紐約.上海.倫敦</p>

            <div class="row">
                <div class="campus-col">
                    <img src="/images/about/R (1).jpg" >
                    <div class="layer">
                        <h3>紐約</h3>
                        <p> 295826 Opal Avenue, North Myrtle Beach,sc,
                             29582  United States</p>
                    </div>
                </div>

                <div class="campus-col">
                    <img src="/images/about/R (2).jpg" alt="">
                    <div class="layer">
                        <h3>上海</h3>
                        <p> 上海市黃浦區安仁街218號</p>

                    </div>
                </div>

                <div class="campus-col">
                    <img src="/images/about/R(3).jpg" alt="">
                    <div class="layer">
                        <h3>倫敦</h3>
                        <p>Lennon Studios, 109 Cambridge Court, London, L7 7AG, UK</p>
                    </div>
                </div>
            </div>

        </section>

        <br><br><br><br><br><br>

        <section class="testimonials">
            <a class="links forus" ><span>客戶回饋</span></a>
            <p>感謝您對本公司的回饋，我們將虛心聽取您的建議</p>

            <div class="row">
                <div class="testimonials-col">
                    <img src="/images/about/OIP (1).jpg" alt="">
                    <p>幫助我做出明智的投資決策！</p>
                    <br><br>
                    <h3>瑞塔</h3>
                    <br>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                 
                </div>
                <div class="testimonials-col">
                    <img src="/images/about/OIP (2).jpg" alt="">
                    <p>遇到一些技術問題，希望能改進。</p>
                    <h3>蕭恩</h3>
                    <br>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>

            <div class="row">

                <br>
                <div class="testimonials-col">
                    <img src="/images/about/外國女生.jpg" alt="">
                    <p>真的非常有幫助！</p>
                    <br><br>
                    <h3>艾蜜莉</h3>
                    <br>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                 
                </div>
                <div class="testimonials-col">
                    <img src="/images/about/外國男生.jpg" alt="">
                    <p>偶爾遇到一些技術問題</p>
                    <h3>大衛</h3>
                    <br>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
        </div>
            <!-- <div class="row">
                    <div class="testimonials-col">
                        <img src="./OIP (1).jpg" alt="">
                        <p>投資網站提供的工具和資源非常有用，幫助我做出明智的投資決策。真正的寶藏！</p>       
                        <h3>克莉絲汀</h3>
                    </div>
                    <div class="testimonials-col">
                        <img src="./OIP (2).jpg" alt="">
                        <p>總體來說，這個投資網站很不錯，但偶爾遇到一些技術問題，希望能改進。</p>
                        <h3>大衛</h3>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="testimonials-col">
                        <img src="./OIP (1).jpg" alt="">
                        <p>這個投資網站真的很棒！用戶界面直觀，資訊豐富，交易也順利。強烈推薦！</p>       
                        <h3>克莉絲汀</h3>
                    </div>
                    <div class="testimonials-col">
                        <img src="./OIP (2).jpg" alt="">
                        <p> 投資網站的簡單操作使我更自信地進行交易，獲得了不錯的回報。</p>
                        <h3>大衛</h3>
                    </div>
                </div>  -->



            </div>





        </section>








        <br><br>
        <!-- 聯絡我們 -->
        <a class="links forus" ><span>聯絡我們</span></a>

       
        <br> <br> <br>




        <section class="contact-us ">




            <div class="contactrow" >

                <div class="contact-col"></div>
                <div>
                    <span>
                        <h5>公司訊息:</h5>
                    </span>
                </div>
                <div class="contact-col"></div>
                <div>
                    <span>
                        <h5>408台中市南屯區黎明路二段658號</h5>
                    </span>
                </div>
                <div class="contact-col"></div>
                <div>
                    <span>
                        <h5>Phone:0931-641-041</h5>
                        <h5>周一到周五:10:00-17:00</h5>
                    </span>
                </div>
                <div>

                    <span>
                        <h5>fly314143@gmail.com</h5>
                        <h5>歡迎聯繫我們</h5>
                    </span>
                </div>
            </div>
            <br> <br> <br> 
    

            <div class="contact-cole" onsubmit="sendEmail(); reset(); return false;">

                <form action="square_box ">
                    <input type="text" placeholder="First Name" id="name" class="c_square" required>
                    <input type="text" placeholder="Last Name" id="name" class="c_square1" required>
                    <br>
                    <input type="email" placeholder="Email" id="email" class="c_square" required>
                    <input type="text" placeholder="Phone Number" id="phone" class="c_square1" required>
                <input type="text" placeholder="Subject" id="subject" class="c_square2" required>
                <input type="text" placeholder="Tell Us Something..." id="tellus" class="c_square3" required>
               <br> 
                <a  class="about_btn" onclick="btn()">送出</a>


                <script>
                    function btn(){
                        alert("送出成功");
                     
                    }
                   
                </script>
                
         
        </form>
        </section>
        <br><br><br>
        <br><br><br>
    </section>

    <!-- google map -->
    <section class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2807.169276174349!2d120.63406400036753!3d24.15600034683803!2m3!1f0!2f0!3f0
        !3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693de9266ceb81%3A0xedd2362b0f860597
        !2zNDA45Y-w5Lit5biC5Y2X5bGv5Y2A6buO5piO6Lev5LqM5q61NjU46Jmf!5e0!3m2!1szh-T
        W!2stw!4v1694497509822!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen=""
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </section>
 

    <script src="/asever.js"></script>



 
</body>

</html>